.Select-control {
  background-color: rgb(34, 37, 42) !important;
  color: white;
}

.Select-menu-outer {
  background-color: rgb(50, 50, 50);
  color: white;
}

.Select-value-label {
  color: white !important;
}
